#splashScreen {
	margin: 300px 0;
	text-align: center;
}

#menu {
	margin: 300px 0;
	text-align: center;
}

p {
	margin: 0 auto;
	width: 500px;	
}

canvas {
	border:1px solid black;
	margin: 0 auto;
	margin-top: 100px;
}

#backgroundImg1 {
	opacity: 0.5;
	margin: 0 auto;
	margin-top: -350px;
	width: 300px;
	height: 200px;
}

#backgroundImg2 {
	opacity: 0.5;
	margin: 0 auto;
	margin-top: -350px;
	width: 300px;
	height: 200px;
}

#backgroundImg3 {
	opacity: 0.5;
	margin: 0 auto;
	margin-top: -350px;
	width: 300px;
	height: 200px;
}