#splashScreen {
	margin: 300px 0;
	text-align: center;
}

#menu {
	margin: 300px 0;
	text-align: center;
}

ul {
	margin: 0 425px;
	width: 500px;	
}

canvas {
	border:1px solid black;
	margin: 0 auto;
	margin-top: 100px;
	background-color: rgba();
}

#backgroundImg1 {
	margin: 0 auto;
	margin-top: -350px;
	width: 300px;
	height: 200px;
}

#backgroundImg2 {
	margin: 0 auto;
	margin-top: -350px;
	width: 300px;
	height: 200px;
}

#backgroundImg3 {
	margin: 0 auto;
	margin-top: -350px;
	width: 300px;
	height: 200px;
}